.img-wrapper {
    position: absolute;
   }
  
  .img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .img-overlay:before {
    content: ' ';
    display: block;
    height: 50%;
  }

  #play_button {
    position:absolute;
    transition: .5s ease;
    top: 60%;
    left: 60%;
    background-color: cyan;
}
.carousel-inner {
    height: 80vh;
}
.homecard{
    position: absolute;
    top:20%;
    right: 5%;
    width: 30%;
}

.card{
    font-size: 0.7em;
}

.card-body a{
    font-size: 0.8em;
}


#homefont{
    font-family: 'Press Start 2P', cursive;
}


#recrutementfont {
    font-family: 'Shrikhand', cursive;
    padding: 30px;
}


#joboffer{
    margin: 25px;
    border-color: lightgrey;
    border-style: solid;
    padding: 20px;
    max-width: 100%;

}


.teamcard{
    margin-left: 40px;
    margin-right: 40px;

}
.contactform{
    max-width: 400px;
    background-color: yellowgreen;
    margin-top: 50px;
    padding: 30px;
    border-radius: 10%; 
}

body{
    background-color: teal;
}
#logo{
    width: 100px;
}
main.a{
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: repeat(3, 450px);
    grid-gap: 20px;
    margin-top: 44px;
    grid-auto-rows: 500px;
    justify-items: center;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    grid-auto-rows: 500px; 
    grid-auto-flow: column; 
  }

.team {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    width: auto;
  }

.description {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
    letter-spacing: 0.1px;
    text-align: center;
    color: #4a4a4a;
    padding: 10px 0px 10px 10px;
    border-top: 1px solid #4a4a4a;
  }

  h2{
      text-align: center;
  }

  .offre.market{
      display: grid;
  }
  .container-fluid contactform{
      background-image: "http://image.jeuxvideo.com/medias-md/146313/1463134025-2001-card.png";
}

button{
    font-size: 16px;
    color: black;
}

a{
    color: black;
}

.flyover {
   left: 150%;
   overflow: hidden;
   position: fixed;
   width: 50%;
   opacity: 0.9;
   z-index: 1050;
   transition: left 0.6s ease-out 0s;
}
 
.flyover-centered {
   top: 50%;
   transform: translate(-50%, -50%);
}

.flyover.in {
    left: 50%;
 }